*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}

header {
    padding: 20px; 
    text-align: center;
    background: #0E2C40;
    color: white;
    box-shadow: 1px 1px 10px 0px black;
    
}
nav{
    width: 100%;
    height: 50px; 
    background: #1a4a5a;
    box-shadow: 1px 1px 10px 0px black;
}

.menu{
    width: 100%;
    height: 50px;
    display: flex;
    perspective: 200px;

}

.menu ul{
    display: flex;
    margin: auto;
}

.menu li{
    list-style: none;
    padding: 15px 20px;
}

.menu li:hover{
    background: rgba(0,0,0,0.3);
    color: white;
    cursor: pointer;
    transition: all 300ms;
}

.menu ul li ul{
   *display: none;
   flex-direction: column;
   position: absolute;
   background: #148d8d;
   margin-top: 15px;
   transform: rotateY(240deg) scale(0);
   transition: all 1s;
   box-shadow: 1px 1px 10px 0px black;
}

.menu ul li:hover > ul{
    transform: rotateY(0deg) scale(1);
    transition: all 1s;
}

.menu ul li ul::before{
content: " ";
width: 0;
height: 0;
border-right: 10px solid transparent;
border-left: 10px solid transparent;
border-bottom: 8px solid #148d8d;
position: absolute;
margin-top: -8px;
margin-left: 20px;
}

.contenedor{
    display: grid;
    grid-template-columns: 80% 20%;
}

article{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

section{
    background: #c1ea7c;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 1px 10px 0px black;

}

aside{

    background: #efbc75;
    box-shadow: 1px 1px 10px 0px black;
}

h1{
    text-align: center;
    text-transform: capitalize;
}

h2{
    text-align: center;
}